// Fonts
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500&display=swap');

// Variables
$font1:'Source Code Pro', monospace;
$box-color: rgba(250, 250, 250, 0.6);
$box-color-2: rgba(250, 250, 250, 0.2);
$box-color-hover: rgba(250, 250, 250, 0.5);
$shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.10);

// Styles
.App{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    height: 100vh;
    width: 100vw;
    min-height: 600px;

    #title{
        font-family: $font1;
        text-align: center;
        color: $shadow;
        .title{
            margin: 15px 0 0 0;            
        }
        .text{
            margin: 0;
        }
    }
    
    .textareas-container{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        display: flex;
        // align-items: center;
        #editor{
            border: none;
            outline: none; 
            resize: none;
    
            font-size: 15px;
            font-family: $font1;
    
            height: 75vh;
            width: 27vw;
            // max-height: 75vh;
            // max-width: 40vw;
            min-width: 300px;
            min-height: 400px;
            margin: 30px;
            padding: 20px;
    
            background-color: $box-color;
            box-shadow: $shadow;
            backdrop-filter: blur(2px);
            border-radius: 16px;        
        }
        #editor::-webkit-scrollbar{
            background-color: transparent;
            width: 10px;
        }
        #editor::-webkit-scrollbar-track{
            background-color: transparent;
            border-radius: 16px;
        }
        #editor::-webkit-scrollbar-thumb{
            background-color: #b5b3b3;
            border-radius: 20px;
        }
    
        #preview{
            height: 75vh;
            width: 27vw;            
            min-width: 300px;
            min-height: 400px;
            margin: 30px;
            padding: 20px;
    
            font-size: 15px;
            font-family: $font1;
    
            // resize: both;
            white-space: normal;
            overflow: auto;
            text-overflow: ellipsis;
            word-break: break-all;
            word-break: break-word;
    
            background-color: $box-color;
            box-shadow: $shadow;
            backdrop-filter: blur(2px);
            border-radius: 16px;
    
            img{
              display: block;
              max-width: 90%;
              margin: 2rem auto;
            }

            &::-webkit-scrollbar{
                background-color: transparent;
                width: 10px;
            }

            &::-webkit-scrollbar-track{
                background-color: transparent;
                border-radius: 16px;
            }

            &::-webkit-scrollbar-thumb{
                background-color: #b5b3b3;
                border-radius: 20px;
            }
        }
    }
}
@media (min-width: 250px) and (max-width: 810px){
    .App{
        #title{
            .title{
                margin-top: 25px;
                font-size: 20px;
            }
            .text{
                font-size: 15px;
            }
        }
        .textareas-container{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 95vw;
            min-width: 200px;
            #editor{
                height: 30vh;
                width: 90%;            
                min-width: 150px;
                min-height: 100px;
                margin: 15px;
                padding: 20px;
            }
            #preview{
                height: 30vh;
                width: 90%;            
                min-width: 150px;
                min-height: 100px;
                margin: 15px;
                padding: 20px;
            }
        }        
    }
}