body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  width: 100vw;
  height: 100vh;
  min-height: 900px;

  background-image: url(./assets/32.-Banana-Mania.jpg);
  background-size: cover;

  overflow: hidden;  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
